body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HIDE RADIO */
.radio-input [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.radio-input [type=radio] + img {
  cursor: pointer;
  height: 200px;
  width: 200px;
  padding: 5px;
}

/* CHECKED STYLES */
.radio-input [type=radio]:checked + img {
  outline: 2px solid rgba(255, 0, 0, 0.473);
}


.chartfilter {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.chartfilter li  {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.chartfilter  label,
.chartfilter input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.chartfilter input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
  width: 100px;
  height: 40px;
}

.chartfilter input[type="radio"]:checked+label,
.Checked+label {
  background: #ED2939;
  color: #FFF;
}

.chartfilter label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}

.chartfilter label:hover {
  background: #DDD;
}

.Plotly{
  padding: 10px;
}

.customCardgreen {
  background: green !important;
}

.customCardyellow {
  background: yellow !important;
}

.customCardred {
  background: red !important;
}